# Виртуальное окружение
venv/

# Скомпилированный байт-код Python
*.pyc
__pycache__/

# Файлы IDE
.idea/

# Переменные окружения
.env
.env.docker

# Фикстуры
**/fixtures/

# Медиа-файлы
media/

# Статические файлы после команды collectstatic
**/staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid
celerybeat-schedule.*

# SSL-сертификат
cert.*

# Временные файлы задач
my_todo.*
