{% extends 'navigation/base.html' %}
{% load static %}
{% load posts_tags %}


{% block title %}
    <title>Пост</title>
{% endblock %}


{% block extra_css %}
  <!-- Подключение CSS-темы для подсветки синтаксиса кода -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">

  <link type="text/css" rel="stylesheet" href="{% static 'posts/css/post_base.css' %}">

  <link type="text/css" rel="stylesheet" href="{% static 'posts/css/post_detail.css' %}">

  <link type="text/css" rel="stylesheet" href="{% static 'posts/css/comment_card.css' %}">

  <link type="text/css" rel="stylesheet" href="{% static 'posts/css/comment_sort.css' %}">

  <link type="text/css" rel="stylesheet" href="{% static 'posts/css/like_button.css' %}">

  <link type="text/css" rel="stylesheet" href="{% static 'users/css/avatar_modal.css' %}">
{% endblock %}


{% block content %}

  <main class="container px-4 px-lg-0 my-4" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="row mt-4 mx-0">

      <div class="card text-white rounded shadow-sm px-4 mb-4">
        <div class="card-body px-0 pb-2">

        <div class="d-flex align-items-center mb-2">

          <img id="avatar"
               src="{% if post.author.avatar_small_size2 %}
                  {{ post.author.avatar_small_size2.url }}
                {% elif post.author.avatar %}
                  {{ post.author.avatar.url }}
                {% endif %}"
               alt="{{ post.author.username }}"
               class="rounded-circle"
               style="cursor:pointer;"

               hx-get="{% url 'users:avatar_preview' post.author.username %}"
               hx-target="#modal-image-container"
               hx-swap="innerHTML"

               hx-indicator="#modal-loading-indicator"
               hx-on:htmx:before-request="openModal()">

          <div>
            <a id="username" href="{% url 'users:profile' post.author.username %}" class="author-name d-inline-block mb-1">{{ post.author.username }}</a>

            <div id="time_create-time_update" class="text-secondary">
              Опубликовано: {{ post.time_create|date:"d.m.Y г. H:i" }}
              {% if post.is_edited %}
                &nbsp;|&nbsp; Изменено: {{ post.time_update|date:"d.m.Y г. H:i" }}
              {% endif %}
            </div>
          </div>

        </div>

          <hr class="mt-1 mb-3">

          <span class="title text-truncate mb-0">{{post.title}}</span>

          {% if post.content %}
            <div class="content text-white mt-3 mb-2">
              {{ post.content|markdown_safe|safe }}
            </div>
          {% endif %}

          <div class="tags-wrapper mt-4 d-flex flex-wrap gap-2">
            {% for tag in post.tags.all|dictsort:"name" %}
              <a href="{{ tag.get_absolute_url }}" class="tag-badge">&nbsp;{{ tag.name }}&nbsp;</a>
            {% endfor %}
          </div>

          <div class="d-flex justify-content-between align-items-center mt-2 mb-1">

            {% url 'posts:toggle_like_post' post.pk post.slug as toggle_like_url %}

            {% with liked_object=post user_has_liked=post.user_has_liked likes_count=post.likes_count toggle_like_url=toggle_like_url %}
              {% include 'posts/likes/_like-button.html' %}
            {% endwith %}

              <div class="d-flex justify-content-end">
                {% if post.author != user %}
                  <button id="show-comment-form" type="button" class="btn btn-outline-light btn-sm">
                    Комментировать
                  </button>
                {% else %}
                  <a href="{% url 'posts:edit' post.pk post.slug %}" class="btn btn-outline-warning btn-sm me-3">Редактировать</a>

                  <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deletePostModal">
                      Удалить
                  </button>

                  {% url 'posts:delete' post.pk post.slug as post_delete_url %}

                  {% include 'navigation/_modal_delete.html' with modal_id="deletePostModal" form_action=post_delete_url title="Подтверждение удаления поста" message="Вы уверены, что хотите удалить этот пост?" %}

                {% endif %}
              </div>

          </div>

        </div>
      </div>

      <!-- Форма комментария поста -->
      <div id="comment-form-container"
           style="display: none;" class="w-100 mb-4 px-0">
        {% include 'posts/comments/_comment_root_form.html' %}
      </div>

      <!-- Загрузка комментариев поста-->
      <div id="comments-wrapper"
           hx-get="{% url 'posts:comment_list' post.pk post.slug %}"
           hx-trigger="load, commentsUpdated from:body"
           hx-swap="innerHTML"
           hx-indicator="#loading-indicator"
           class="position-relative">

        {% include 'posts/comments/comment_list.html' %}

        <!-- Индикатор загрузки -->
        <div id="loading-indicator"
             class="d-flex flex-column justify-content-center align-items-center py-2"
             style="display: none;">
          <div class="spinner-border text-light mb-2" role="status"></div>
          <span class="text-light">Загрузка комментариев...</span>
        </div>

      </div>

    </div>
  </main>

  {% include 'users/_avatar_modal.html' %}

{% endblock %}


{% block extra_js %}
  <!-- Подключение JS-скрипта highlight.js для подсветки синтаксиса кода -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

  <script src="{% static 'posts/js/post_detail.js' %}"></script>

  <script src="https://unpkg.com/htmx.org@2.0.7"></script>

  <!-- Запуск highlight.js -->
  <script src="{% static 'posts/js/highlight_run.js' %}"></script>

  <script src="{% static 'users/js/avatar_modal.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
