{% load posts_tags %}
{% load users_tags %}


{# Шаблон карточки поста #}
<div class="card text-white rounded shadow-sm px-4">
  <div class="card-body px-0 pb-2">

    {# Автор и время публикации #}
    <div class="d-flex align-items-center mb-2">
      <img src="{{ post.author.avatar_small_size1_url }}"
           data-full-avatar="{{ post.author.avatar.url }}"
           alt="{{ post.author.username }}"
           class="rounded-circle avatar-trigger avatar-img"
           style="cursor:pointer;">

      <div class="flex-grow-1" style="min-width: 0;">
        <div class="username-row d-flex align-items-center gap-1 mb-1">
          <a href="{% url 'users:profile' post.author.username %}" class="author-name text-truncate" style="min-width: 0;">
            {{ post.author.username }}
          </a>
          {% user_role_badge post.author %}
          {% if post.author.is_blocked %}
            <span class="text-danger flex-shrink-0">(заблокирован)</span>
          {% endif %}
        </div>

        <div class="time-create-update text-secondary">
          Опубликовано: {{ post.time_create|date:"d.m.Y г. H:i" }}
          {% if post.is_edited %}
            &nbsp;|&nbsp; Изменено: {{ post.time_update|date:"d.m.Y г. H:i" }}
          {% endif %}
        </div>
      </div>
    </div>

    <hr class="mt-1 mb-2">

    <a class="title text-truncate mb-0" href="{{ post.get_absolute_url }}">{{post.title}}</a>

    {% if post.content %}
      <div class="content content-preview text-white mt-1 mb-2">
        {{ post.rendered_content|safe }}
      </div>
    {% endif %}

    <div class="tags-wrapper mt-3 d-flex flex-wrap gap-2">
      {% for tag in post.tags.all|dictsort:"name" %}
        <a href="{{ tag.get_absolute_url }}" class="tag-badge">&nbsp;{{ tag.name }}&nbsp;</a>
      {% endfor %}
    </div>

    <div class="mt-2 d-flex justify-content-between align-items-center">

      {% url 'posts:toggle_like_post' post.pk post.slug as toggle_like_url %}

      {% with obj_type='post' liked_object=post user_has_liked=post.user_has_liked likes_count=post.likes_count toggle_like_url=toggle_like_url %}
        {% include 'posts/likes/_like-button.html' %}
      {% endwith %}

      <div class="d-flex justify-content-end">
        <a href="{{ post.get_absolute_url }}#comments-wrapper" class="more-link me-3">
          <span>
            Комментарии:
          </span>
          <span class="comments-count text-warning">
            {{ post.comments_count }}
          </span>
        </a>

        <a href="{{ post.get_absolute_url }}" class="more-link">
          Подробнее
        </a>
      </div>

    </div>

  </div>
</div>
