html {
  scrollbar-gutter: stable;
}

#base-search {
    background-color: white;
    color: black;
}

.bg-black {
    background-color: black;
}

#header {
    border-bottom: 1px solid darkgray;
}

.nav-hover {
    border-radius: 8px;
    transition: all 0.2s ease;
}

.nav-hover-selected {
    background-color: rgba(255, 255, 255, 0.15);
}

.nav-hover:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.nav-hover:active {
    background-color: rgba(255, 255, 255, 0.25);
}

#studyoverflow-button {
    transition: transform 0.6s ease;
}

#studyoverflow-button:hover {
    transform: scale(1.05);
}

#profile-button {
    height: 2.4rem;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0.8rem;
    padding-left: 0.64rem;
    padding-right: 0.64rem;
}

#profile-icon {
    font-size: 1.9rem
}

#profile-icon-label {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem
}

#notifications-button {
    transition: 0.2s ease;
    box-shadow: none !important;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    padding-top: 0.1rem;
}

#notifications-button:active {
    filter: brightness(1.05);
}

#i-notifications {
    font-size: 1.35rem;
}

#notifications-count {
    font-size: 1.25rem
}

.notification-particles {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    height: 60px;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: particle-anim 0.6s forwards;
}

@keyframes particle-anim {
    0% {
        transform: translate(0,0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(var(--dx), var(--dy)) scale(0);
        opacity: 0;
    }
}

@keyframes icon-pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}
.pulse {
    animation: icon-pulse 0.5s ease-out;
}
