html {
  scrollbar-gutter: stable;
}

#base-search {
    background-color: white;
    color: black;
}

.bg-black {
    background-color: black;
}

#header {
    border-bottom: 1px solid darkgray;
}

.nav-hover {
    border-radius: 8px;
    transition: all 0.2s ease;
}

.nav-hover-selected {
    background-color: rgba(255, 255, 255, 0.15);
}

.nav-hover:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.nav-hover:active {
    background-color: rgba(255, 255, 255, 0.25);
}

#studyoverflow-button {
    transition: transform 0.6s ease;
}

#studyoverflow-button:hover {
    transform: scale(1.05);
}

#profile-button {
    height: 2.4rem;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0.8rem;
    padding-left: 0.64rem;
    padding-right: 0.64rem;
}

#profile-icon {
    font-size: 1.9rem
}

#profile-icon-label {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem
}
