#messages-container {
  top: calc(100% + 2rem);
  max-width: 90vw;
}

.alert {
  white-space: nowrap;
  overflow-wrap: break-word;
}

.alert .btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
}

.alert .btn-close:active {
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.1s ease;
}
