#messages-container {
    top: calc(100% + 2rem);
    max-width: 100vw;
    z-index: 1080;
    width: 100% !important;
}

.alert {
    overflow-wrap: break-word;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    width: auto; max-width: min(90vw, 1200px);
}

.alert .btn-close:focus {
    outline: none !important;
    box-shadow: none !important;
}

.alert .btn-close:active {
    opacity: 0.5;
    transform: scale(0.9);
    transition: all 0.1s ease;
}

#messages-container .alert {
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.5) !important;
}
