# Фреймворк для тестирования
pytest==9.0.1

# Библиотека автоматизации браузерных движков (Chromium, Firefox, WebKit)
playwright==1.61.0

# Интеграция playwright с pytest, готовые фикстуры
pytest-playwright==0.8.0

# Запуск тестов в нескольких процессах одновременно
pytest-xdist==3.8.0
