#avatar-comment {
    margin-right: 0.7rem;
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: box-shadow 0.2s ease-in-out;
}

#avatar-comment:hover {
    box-shadow: 0 0 0 1px rgba(255, 193, 7, 0.85);
    cursor: pointer;
}

.username-comment {
    margin-top: -0.25rem;
    font-size: 1.1rem;
}

#time_create-time_update-comment {
    font-size: 0.94rem
}
