.like-button {
    transition: 0.2s ease;
    box-shadow: none !important;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

.like-button:active {
    filter: brightness(1.25);
}

#i-like {
    font-size: 1.2rem
}
