#id_title, #id_content, #id_tags, #content-preview {
    background-color: black;
    color: white;
}

.form-control {
    background-color: black;
    color: white;
}

#id_content {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#content-preview {
    font-family: system-ui;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid white;
    resize: vertical;
    padding-bottom: 0;
}

#content-preview > * {
  margin-bottom: 0 !important;
}

#toggle-preview:focus {
    outline: none;
    box-shadow: none;
}

#toggle-tags:focus {
    outline: none;
    box-shadow: none;
}
