.card {
    background-color: #202023;
    border-radius: 10px!important;
}

.author-name {
    color: cornflowerblue;
    text-decoration: none;
}

.author-name:hover {
    color: skyblue;
}

.author-name:hover .role {
    filter: brightness(1.2);
}

pre, code.hljs {
    border-radius: 0.5rem!important;
}

.card-body * {
    margin-top: 0;
    margin-bottom: 0;
}

.content > * {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

pre {
  margin-bottom: 4px!important;
  margin-top: 4px!important;
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.tag-badge {
    display: inline-block;
    background-color: #464649;
    color: lightgray;
    border-radius: 9999px;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.2rem 0.6rem;
    font-size: 0.9rem;
}

.tag-badge:hover {
    background-color: gray;
    color: white;
}
