.title {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: rgba(255, 193, 7, 0.85);
    font-size: 1.5rem;
}

.content {
    font-size: 1rem;
    position: relative;
    line-height: 1.8;
}

#avatar {
    margin-right: 0.9rem;
    width: 70px;
    height: 70px;
    object-fit: cover;
    transition: box-shadow 0.2s ease-in-out;
}

#avatar:hover {
    box-shadow: 0 0 0 2px rgba(255, 193, 7, 0.85);
    cursor: pointer;
}

#username {
    margin-top: -0.7rem;
    font-size: 1.2rem;
}

#time_create-time_update {
    font-size: 1rem
}

.mt-2rem {
    margin-top: 2rem;
}

.mt-1_2rem {
    margin-top: 1.2rem;
}

#id_content {
    background-color: #0d1117;
    color: white;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.ms-6 {
    margin-left: 4rem;
}
