.title {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: rgba(255, 193, 7, 0.85);
    font-size: 1.3rem;
}

.title:hover {
    color: #FFFA70;
}

.content-preview {
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

.content.overflow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(transparent, #202023);
}

#avatar {
    margin-right: 0.7rem;
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: box-shadow 0.2s ease-in-out;
}

#avatar:hover {
    box-shadow: 0 0 0 1px rgba(255, 193, 7, 0.85);
    cursor: pointer;
}

#username {
    margin-top: -0.25rem;
    font-size: 1.1rem;
}

#time_create-time_update {
    font-size: 0.94rem
}

.more-link {
    color: cornflowerblue !important;
    text-decoration: none;
}

.more-link:hover {
    color: #0a58ca !important;
}

.more-link:hover #comments_count {
    filter: brightness(0.8);
}
