**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.idea/
**/.vscode/

**/htmlcov/

**/celerybeat-schedule
**/celerybeat.pid
**/celerybeat-schedule.*

**/cert.*

**/staticfiles/

**/fixtures/

**/*.sql
**/*.bak

Dockerfile

requirements.base.in
requirements.dev.in
