-r requirements.base.in

# ==========================
# Форматтеры
# ==========================

# Автоматическое форматирование Python-кода
black==25.1.0

# Сортировка импортов
isort==6.0.1

# ==========================
# Линтеры
# ==========================

# Проверка кода на соответствие PEP8 и поиск ошибок
flake8==7.3.0

# Дополнительные проверки для flake8
flake8-bugbear==24.12.12

# Проверка использования имен, совпадающих с именами из builtins
flake8-builtins==3.0.0

# Статический анализатор типов
mypy==1.18.1

# ==========================
# Git
# ==========================

# Автоматический запуск проверок (линтеров, форматтеров и тестов) перед коммитом
pre_commit==4.3.0

# ==========================
# Django apps
# ==========================

# Панель отладки Django
django-debug-toolbar==6.1.0

# Дополнительные команды manage.py, например shell_plus
django-extensions==4.1

# Интерактивная Python-консоль с расширенными возможностями
ipython==9.5.0

# ==========================================
# Профилирование и нагрузочное тестирование
# ==========================================

# Профилирование производительности Python-кода
pyinstrument==5.1.2

# Нагрузочное тестирование приложения
locust==2.42.5

# ==========================
# SSL-TSL
# ==========================

# Генерация SSL/TLS сертификатов для запуска локального сервера по протоколу HTTPS
pyOpenSSL==25.3.0

# ==========================
# Управление зависимостями
# ==========================

# Генерация lock-файлов зависимостей
pip-tools==7.5.3

# ================================================================
# Расширения типов объектов (type stubs, заглушки типов) для Mypy
# ================================================================

# Типы объектов Celery
celery-types==0.23.0

# Типы объектов Bleach
types-bleach==6.2.0.20250809

# Типы объектов Requests
types-requests==2.32.4.20250913
