# ==========================
# Django
# ==========================

# Веб-фреймворк
Django==5.2.6

# Загрузка переменных окружения из .env файлов
django-environ==0.12.0

# Раздача статических файлов самим Django при DEBUG=False (без nginx или без другого веб-сервера)
whitenoise==6.11.0

# ==========================
# Django apps
# ==========================

# Используется для авторизации через социальные сети
django-allauth==65.13.1

# Добавляет способ выполнения AJAX-запросов из HTML
django-htmx==1.26.0

# Кеш Django через Redis
django-redis==6.0.0

# Набор бекендов, осуществляющие сохранение медиафайлов в облачном хранилище, в проекте используется для S3
django-storages==1.14.6

# Система тегов для моделей (в проекте для постов)
django-taggit==6.1.0

# Дополнительные шаблонные теги для HTML-форм
django-widget-tweaks==1.5.0

# ==========================
# Django REST Framework
# ==========================

# Позволяет создавать REST API
djangorestframework==3.16.1

# Генерация OpenAPI / Swagger документации (для REST API)
drf-spectacular==0.29.0

# Вложенные роутеры (маршруты) для ViewSet'ов
drf-nested-routers==0.95.0

# API авторизация через соцсети (работает с django-allauth)
dj-rest-auth==7.2.0

# JWT-аутентификация
djangorestframework-simplejwt==5.5.1

# ==========================
# ASGI / WebSocket
# ==========================

# Поддержка WebSocket
channels==4.3.2

# Redis-бэкенд для Channels (для channel layer, брокер сообщений)
channels_redis==4.3.0

# ASGI-сервер
daphne==4.2.1

# ==========================
# Celery
# ==========================

# Выполнение фоновых задач
celery==5.6.0

# Защита от повторного запуска одинаковых задач
celery_once==3.0.1

# Драйвер для БД Redis и брокер сообщений для Celery
redis==6.4.0

# ==========================
# PostgreSQL
# ==========================

# Драйвер БД PostgreSQL
psycopg==3.2.13

# Драйвер БД PostgreSQL в скомпилированном виде
psycopg-binary==3.2.13

# Пул соединений с PostgreSQL
psycopg-pool==3.2.8

# ==========================
# Amazon S3
# ==========================

# Работа с S3 хранилищем для медиафайлов (в проекте используется S3 от Beget)
boto3==1.35.0

# ==================================
# Работа с изображениями и markdown
# ==================================

# Обработка изображений
Pillow==11.3.0

# Определение типа файла по содержимому
filetype==1.2.0

# Конвертация Markdown в HTML
markdown2==2.5.4

# Очистка HTML от опасного содержимого, например от XSS атак
bleach==6.2.0

# ==========================
# Логирование
# ==========================

# Вывод логов в JSON формате
python-json-logger==4.0.0

# ======================================
# Тестирование и Нагрузка
# (опционально на prod)
# ======================================

# Нагрузочное тестирование приложения
locust==2.42.5

# Windows API, нужен Locust только на Windows, прописывается, чтобы указать параметр sys_platform == "win32" (не установится на линукс хосте)
pywin32==312; sys_platform == "win32"
