{% load posts_tags %}
{% load users_tags %}
{% load widget_tweaks %}

<div id="comment-card-{{ comment.id }}" class="card text-white rounded shadow-sm px-4">
  <div class="card-body px-0 pb-2">

    <!-- Автор и время -->
    <div class="d-flex align-items-center mb-2">
      <img id="avatar-comment"
           src="{% if comment.author.avatar_small_size1 %}
                  {{ comment.author.avatar_small_size1.url }}
                {% elif comment.author.avatar %}
                  {{ comment.author.avatar.url }}
                {% endif %}"
           alt="{{ comment.author.username }}"
           class="rounded-circle"
           style="cursor:pointer;"

           hx-get="{% url 'users:avatar_preview' comment.author.username %}"
           hx-target="#modal-image-container"
           hx-swap="innerHTML"

           hx-indicator="#modal-loading-indicator"
           hx-on:htmx:before-request="openModal()">

      <div class="image-modal-wrapper"></div>

      <div>
        <div class="d-flex align-items-center mb-1">
          <a href="{% url 'users:profile' comment.author.username %}" class="username-comment author-name">
            {{ comment.author.username }} {% user_role_badge comment.author %}
          </a>

          {% if comment.reply_to and comment.reply_to.author != comment.author %}
            <span class="text-warning ms-2 me-2" style="margin-bottom: 0.09rem">ответил</span>
            <a href="{% url 'users:profile' comment.reply_to.author.username %}" class="username-comment author-name me-1">
              {{ comment.reply_to.author.username }} {% user_role_badge comment.reply_to.author %}
            </a>
          {% elif comment.reply_to.author == comment.author %}
            <span class="text-warning ms-2 me-2" style="margin-bottom: 0.09rem">ответил себе</span>
          {% endif %}
        </div>

        <div id="time_create-time_update-comment" class="text-secondary">
          Опубликовано: {{ comment.time_create|date:"d.m.Y г. H:i" }}
          {% if comment.is_edited %}
            &nbsp;|&nbsp; Изменено: {{ comment.time_update|date:"d.m.Y г. H:i" }}
          {% endif %}
        </div>
      </div>
    </div>

    <hr class="mt-1 mb-2">

    <!-- Блок содержимого комментария -->
    <div id="comment-content-{{ comment.id }}" class="comment-content content text-white mt-1 px-1">
      {{ comment.content|markdown_safe|safe }}
    </div>

    <div class="d-flex justify-content-between align-items-center mt-2">

    {% url 'posts:toggle_like_comment' comment.post.pk comment.post.slug comment.pk as toggle_like_url %}

    {% with liked_object=comment user_has_liked=comment.user_has_liked likes_count=comment.likes_count toggle_like_url=toggle_like_url %}
      {% include 'posts/likes/_like-button.html' %}
    {% endwith %}

    <div class="d-flex justify-content-end">
      {% if user == comment.author or perms.posts.moderate_comment %}
        <button type="button"
                class="btn btn-outline-warning btn-sm edit-comment-btn me-3"
                data-comment-id="{{ comment.id }}">
          Редактировать
        </button>

        <form class="d-inline-block m-0 p-0"
              method="POST"
              action="{% url 'posts:comment_delete' post.pk post.slug comment.pk %}"
              hx-post="{% url 'posts:comment_delete' post.pk post.slug comment.pk %}"
              hx-target="#comment-wrapper-{{ comment.id }}"
              hx-swap="outerHTML"
              hx-confirm="Вы уверены, что хотите удалить этот комментарий?">
          {% csrf_token %}
          <button type="submit"
                  class="btn btn-outline-danger btn-sm me-3"
                  title="Удалить комментарий">
            Удалить
          </button>
        </form>
      {% endif %}

      <button type="button"
              class="btn btn-outline-light btn-sm reply-btn"
              data-comment-id="{{ comment.id }}">
        Ответить
      </button>

    </div>

  </div>

    <!-- Скрытая форма ответа -->
    <div id="reply-form-{{ comment.id }}" class="reply-form-container mt-3 mb-1" style="display:none;">
      {% include 'posts/comments/_comment_child_form.html' %}
    </div>

    <!-- Скрытая форма редактирования -->
    <div id="edit-form-{{ comment.id }}" class="edit-form-container mt-3 mb-1" style="{% if comment_update_form.errors or comment_form.non_field_errors %}display:block;{% else %}display:none;{% endif %}">
      {% include 'posts/comments/_comment_edit_form.html' with comment_form=comment_update_form %}
    </div>

  </div>
</div>
