{% load widget_tweaks %}


<form method="POST"
      action="{% url 'posts:comment_child_create' post.pk post.slug %}"
      hx-post="{% url 'posts:comment_child_create' post.pk post.slug %}"
      hx-swap="outerHTML"
      hx-indicator="#loading-indicator">

  {% csrf_token %}
  <input type="hidden" name="parent_comment" value="{% if comment.parent_comment %}{{ comment.parent_comment.id }}{% else %}{{ comment.id }}{% endif %}">
  <input type="hidden" name="reply_to" value="{{ comment.id }}">

  <div class="mb-2">
    {{ comment_form.content|attr:"placeholder:Ответ на комментарий..." }}
  </div>

  {% include 'posts/comments/_comment_base_form_errors.html' %}

  <div class="d-flex justify-content-between mt-3">
    <button type="submit" class="btn btn-outline-warning btn-sm">Отправить</button>
    <button type="button" class="btn btn-outline-light btn-sm cancel-reply-btn px-3" data-comment-id="{{ comment.id }}">
      Скрыть
    </button>
  </div>
</form>
