{# Шаблон модального окна для полноэкранного просмотра аватаров пользователей #}
<div id="global-image-modal" class="image-modal">

  <div class="image-modal-backdrop" onclick="closeModal()"></div>

  <div class="image-modal-body">
    <span class="close-modal" onclick="closeModal()">&times;</span>

      <div id="modal-loading-indicator" class="ms-2">
        <div class="spinner-border text-white spinner-border-sm" role="status"></div>
        <span class="px-1 text-white">Загрузка...</span>
      </div>

      <style>
        #modal-loading-indicator {
          display: none;
          align-items: center;
        }

        #modal-loading-indicator.htmx-request {
          display: flex;
        }
      </style>

    <div id="modal-image-container"></div>

  </div>

</div>
