{% load users_tags %}


{# Шаблон карточки пользователя #}
<div class="col-12 col-md-6 col-xl-4">

  <div class="user-card">

    {# Аватар + инфо #}
    <div class="d-flex align-items-start mb-2">

      {# Аватар #}
      <img src="{{ user.avatar_small_size2_url }}"
           data-full-avatar="{{ user.avatar.url }}"
           alt="{{ user.username }}"
           class="user-avatar rounded-circle avatar-trigger"
           style="cursor:pointer; color: white;">

      <div class="ms-3 flex-grow-1 min-w-0">

        {# Ник + роль + онлайн + блокировка #}
        <div class="d-flex align-items-center gap-1">

          <div class="text-truncate" style="min-width: 0; color: cornflowerblue;">
            <a href="{{ user.get_absolute_url }}" class="author-name">
              {{ user.username }}
            </a>
            {% user_role_badge user %}
          </div>

          {% if user.id in online_ids %}
            <span class="online-dot-sm ms-1 flex-shrink-0"></span>
          {% endif %}

          {% if user.is_blocked %}
            <span class="text-danger ms-1 flex-shrink-0">
              (заблокирован)
            </span>
          {% endif %}
        </div>

        {# Статус #}
        {% if user.id in online_ids %}
          <div class="online-status small ms-0">Онлайн</div>
        {% else %}
          <div class="text-secondary small">
            Был в сети {{ user.last_seen|date:"d.m.y г. H:i" }}
          </div>
        {% endif %}

        {# Почта #}
        <div class="text-secondary small text-truncate mt-1">
          {{ user.email }}
        </div>

      </div>
    </div>

    {# Статистика #}
    <div class="user-stats text-center">
      <div class="user-stat">
        <div class="user-stat-label text-cornflowerblue">Репутация</div>
        <div class="user-stat-value text-warning">
          {{ user.reputation }}
        </div>
      </div>
      <div class="user-stat">
        <div class="user-stat-label text-cornflowerblue">Посты</div>
        <div class="user-stat-value text-warning">
          {{ user.posts_count }}
        </div>
      </div>
      <div class="user-stat">
        <div class="user-stat-label text-cornflowerblue text-truncate">Комментарии</div>
        <div class="user-stat-value text-warning">
          {{ user.comments_count }}
        </div>
      </div>
    </div>

  </div>

</div>
