{% extends 'users/_auth_base.html' %}
{% load static %}


{% block title %}
  <title>Авторизация</title>
{% endblock %}


{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}


{% block form %}

  <div id="register-login-container" class="container">
    <form method="post" class="registration-login-card">
      {% csrf_token %}

      {% include 'users/_form_fields.html' %}

      <div class="mb-3">
        <a href="{% url 'users:password_reset' %}" class="create-account-link">
          Восстановить пароль
        </a>
      </div>

      <div class="mb-3">
        <a href="{% url 'users:register' %}" class="create-account-link">
          Создать аккаунт
        </a>
      </div>

      <div class="d-flex justify-content-between mb-0 mt-4">

        <button type="submit" class="btn btn-outline-warning btn-sm btn-form-submit fs-6 px-3">
          Вход
        </button>

        <a href="{% url 'home' %}"
           class="btn btn-outline-light">
          Отмена
        </a>

      </div>

    </form>
  </div>

{% endblock %}
