{% extends 'users/_auth_base.html' %}
{% load static %}


{# Страница подтверждения успешного сброса пароля #}

{% block title %}
  <title>Пароль восстановлен</title>
{% endblock %}


{% block form %}

  <div id="register-login-container" class="container">
    <form action="#" method="post" class="registration-login-card">
      {% csrf_token %}

      <span class="text-white">
        Пароль успешно восстановлен! Вы можете перейти на главную страницу или авторизоваться.
      </span>

      <div class="d-flex justify-content-between mb-0 mt-4">

        <a href="{% url 'home' %}" class="btn btn-outline-warning btn-sm">
          На главную страницу
        </a>

        <a href="{% url 'users:login' %}"
           class="btn btn-outline-light btn-sm">
          На страницу входа
        </a>

      </div>

    </form>
  </div>

{% endblock %}
