{% extends 'users/_auth_base.html' %}
{% load static %}


{% block title %}
  <title>Инструкция отправлена</title>
{% endblock %}


{% block form %}

  <div id="register-login-container" class="container">
    <form action="#" method="post" class="registration-login-card">
      {% csrf_token %}

      <span class="text-white">
        Если введенный email зарегистрирован в системе, на него отправлена инструкция по восстановлению пароля.
        <div class="mt-2">
          Если вы входили через социальную сеть, письмо отправлено не будет.
        </div>
      </span>

      <div class="d-flex justify-content-between mb-0 mt-4">

        <a href="{% url 'home' %}" class="btn btn-outline-warning btn-sm">
          На главную страницу
        </a>

        <a href="{% url 'users:login' %}"
           class="btn btn-outline-light btn-sm">
          На страницу входа
        </a>

      </div>

    </form>
  </div>

{% endblock %}
