{% extends 'users/_auth_base.html' %}
{% load static %}


{% block title %}
  <title>Восстановление пароля</title>
{% endblock %}


{% block form %}

  <div id="register-login-container" class="container">
    <form action="#" method="post" class="registration-login-card">
      {% csrf_token %}

      {% include 'users/_form_fields.html' %}

      <div class="d-flex justify-content-between mb-0 mt-4">

        <button type="submit" class="btn btn-outline-warning btn-sm btn-form-submit fs-6">
          Продолжить
        </button>

        <a href="{% url 'users:login' %}"
           class="btn btn-outline-light">
          Отмена
        </a>

      </div>

    </form>
  </div>

{% endblock %}
