{% extends 'users/profile_author.html' %}


{# Шаблон личного кабинета пользователя #}

{% block profile_title %}
  Ваш профиль
{% endblock %}


{% block profile_header %}
  Ваш профиль
{% endblock %}


{% block profile_actions %}
<div class="d-flex flex-column align-items-end gap-2 w-100 mt-auto pt-4">
  <button type="button"
          class="btn btn-warning btn-sm profile-btn"
          id="toggle-edit-btn"
          style="width: 180px;">
    Редактировать профиль
  </button>

  {% if author.is_social %}
    <button type="button" class="btn btn-outline-light btn-sm" style="width: 180px;" disabled>
      Сменить пароль
    </button>
    <small class="text-secondary d-block">
      Сменить пароль невозможно при авторизации через социальную сеть.
    </small>
  {% else %}
    <a href="{% url 'users:password_change' %}" class="btn btn-outline-light btn-sm" style="width: 180px;">
      Сменить пароль
    </a>
  {% endif %}
</div>
{% endblock %}


{% block danger_zone %}
  <form method="post" action="{% url 'users:delete' %}" class="d-inline mb-0">
    {% csrf_token %}

    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
      Удалить
    </button>

    {% url 'users:delete' as user_delete_url %}

    {% include 'navigation/_modal_delete.html' with modal_id="deleteUserModal" form_action=user_delete_url title="Подтверждение удаления аккаунта" message="Вы уверены, что хотите удалить свой аккаунт? Ваши посты, комментарии и лайки будут удалены!" %}

  </form>
{% endblock %}


{% block profile_update_form %}
  {# Форма редактирования профиля пользователя #}
  {% include 'users/profile_update_form.html' %}
{% endblock %}
