{# Форма редактирования данных профиля #}
<div id="edit-form-container" class="card registration-login-card shadow-lg mt-4" style="display: none !important;">

  <div class="card-header p-2 mb-2">
    <h4 class="mb-0 text-warning">Редактирование профиля</h4>
  </div>

  <form method="post" enctype="multipart/form-data" action="#" class="p-2 text-white">
    {% csrf_token %}

    {% for f in form %}
      <div class="form-group mb-3">
        {# label #}
        <label for="{{ f.id_for_label }}" class="form-label text-white">
          {{ f.label }}
        </label>

        {# Поле формы input #}
        {{ f }}

        {# help_text #}
        {% if f.help_text %}
          <small class="form-text text-secondary d-block mt-1">
            {% autoescape off %}
              {{ f.help_text }}
            {% endautoescape %}
          </small>
        {% endif %}

        {# Ошибки поля #}
        {% if f.errors %}
          <div class="text-danger fs-6">
            {% for err in f.errors %}
              <div class="mt-1">
                {{ err }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

    {% endfor %}

    {# Ошибки формы, не связанные с полями #}
    <div class="text-danger fs-6 mb-3">
      {% for error in form.non_field_errors %}
        {{ error }}<br>
      {% endfor %}
    </div>

    <div class="d-grid mt-4 justify-content-center">
      <button type="submit" class="btn btn-success w-auto">Сохранить изменения</button>
    </div>

  </form>
</div>
