{% extends 'users/_auth_base.html' %}
{% load static %}


{# Шаблон страницы регистрации нового пользователя #}

{% block title %}
  <title>Регистрация</title>
{% endblock %}

{% block form %}

  <div id="register-login-container" class="container">
    <form action="#" method="post" class="registration-login-card">
      {% csrf_token %}

      {% include 'users/_form_fields.html' with show_required=True %}

      <p class="text-white fs-6 mt-2">
        * — обязательное поле
      </p>

      <div class="d-flex justify-content-between mb-0 mt-1">
        <button type="submit" class="btn btn-outline-warning btn-sm btn-form-submit fs-6">
          Регистрация
        </button>
        <a href="
             {% if next %}
              {{ next }}
             {% else %}
              {% url 'home' %}
             {% endif %}"
           class="btn btn-outline-light">
          Отмена
        </a>
      </div>

    </form>
  </div>

{% endblock %}